.gitignore
.vscodeignore
justfile
test/**
package-lock.json
*.vsix
node_modules/web-tree-sitter/debug/**
node_modules/web-tree-sitter/lib/**
node_modules/web-tree-sitter/src/**
node_modules/web-tree-sitter/*.map
node_modules/web-tree-sitter/tree-sitter.js
node_modules/web-tree-sitter/web-tree-sitter.d.ts
node_modules/web-tree-sitter/web-tree-sitter.d.ts.map
